@model IEnumerable<AllRecepieViewModel>;
@{
    ViewBag.Title = "All recepies";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var a in Model)
        {
        <div class="card col-4" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title mt-1">@a.Name</h5>
                <img class="card-img-top" src=@a.Image alt="Ad Image">
                <p class="mb-0"><span class="fw-bold">Added on: </span>@a.DatePosted</p>
                <p class="mb-0"><span class="fw-bold">Description: </span>@a.Description</p>
                <p class="mb-0"><span class="fw-bold">Likes: </span>@a.TumbsUp</p>
                <p class="mb-0"><span class="fw-bold">Publisher: </span>@a.Owner</p>
            </div>

            @if (User.Identity.Name == a.Owner)
                {
                <a asp-controller="Food" asp-action="Detail" asp-route-id="@a.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">Details</a>
                <a asp-controller="Food" asp-action="Edit" asp-route-id="@a.Id" class="btn btn-primary mb-2 w-100 p-3 fw-bold">Edit</a>
                }
            else
                {
                <a asp-controller="Food" asp-action="Detail" asp-route-id="@a.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">Details</a>
                <a asp-controller="Food" asp-action="Favourite" asp-route-id="@a.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Favourit</a>
                <a asp-controller="Food" asp-action="Like" asp-route-id="@a.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Like</a>

                }
        </div>
        }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
