@model DetailedFoodViewModel;

@{
    ViewBag.Title = "Delete recepie";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 align-content-center text-center">

    <div class="card-body">
        <h3 class="card-title mt-1">@Model.Name</h3>
        <img class="card-img-top" src=@Model.Image alt="Ad Image" style="max-width:30rem; max-height:40rem;">
        <p class="mb-0"><span class="fw-bold">Added on: </span>@Model.DatePosted</p>
        <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
        <p class="mb-0"><span class="fw-bold">Likes: </span>@Model.TumbsUp</p>
    </div>
    <div>

        <ul class="text-center row">
            <h5>Ingredients:</h5>
            @foreach (var ing in Model.Ingredients)
                {
                <li class="card col-" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title mt-1">@ing.Name</h5>
                        <p class="mb-0"><span class="fw-bold">Description: </span>@ing.Amount</p>
                        <p class="mb-0"><span class="fw-bold">Likes: </span>@ing.Name</p>
                    </div>
                </li>
                }
        </ul>
        <ul class="text-center row">
            <h5>Directions:</h5>
            @foreach (var step in Model.Steps)
                {
                <li class="card col-4" style="width: 15rem;">
                    <div class="card-body">
                        <p class="mb-0"><span class="fw-bold">Step: </span>@step.Position</p>
                        <p class="mb-0"><span class="fw-bold">Description: </span>@step.Description</p>
                    </div>
                </li>
                }
        </ul>
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger mb-2 p-3 fw-bold">Confirm</button>
            <a asp-action="All" class="btn btn-secondary mb-2 p-3 fw-bold">Cancel</a>
        </form>
    </div>
</div>
