@model RecepieViewModel

@{
    ViewBag.Title = "Add new Recepie";
}



<div>
    <div>
        <h3>@ViewBag.Title</h3>
    </div>
    <form asp-action="Add" method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Name of the dish:" />
        <span asp-validation-for="@Model.Name" class=" small text-danger"></span>
        <hr />
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" placeholder="Give us a short description of the meal:" />
        <span asp-validation-for="@Model.Description" class=" small text-danger"></span>
        <hr />
        <select asp-for="@Model.RecepieTypeId" class="form-control" aria-required="true">
            @foreach (var type in Model.RecepieTypes)
                {
                <option value="@type.Id">@type.Name</option>
                }
        </select>
        <hr />
        <div id="partialRender">
            <ol class="form-group" id="ingredientList">
                <label>List of ingredients</label>
                <li id="ingredient-0">
                    <input class="form-control nameIngredient" placeholder="Ingredient:" />
                    <input class="form-control amountIngredient" placeholder="Amount:" />
                    <input class="form-control amountTypeIngredient" placeholder="T.S./G/Cups" />
                    <span class="small text-danger"></span>
                    <hr />

                </li>
            </ol>

            <span>
                <a id="addElementBtn" class="btn btn-primary">Add new ingredient</a>
                <a id="removeElementBtn" class="btn btn-primary">Remove last ingredient</a>
            </span>
        </div>



        <div class="card mt-4">
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" placeholder="Give us a picture of the dish: (url)" />
            <span asp-validation-for="@Model.Image" class=" small text-danger"></span>
            <hr />
            <label asp-for="PrepTime">Prep time in minutes</label>
            <input asp-for="PrepTime" class="form-control" placeholder="How long does it take to prepare the ing.:" />
            <span asp-validation-for="@Model.PrepTime" class=" small text-danger"></span>
            <hr />
            <label asp-for="CookTime">Cook time in minutes</label>
            <input asp-for="CookTime" class="form-control" placeholder="Cook time:" />
            <span asp-validation-for="@Model.CookTime" class=" small text-danger"></span>
            <hr />
            <select asp-for="@Model.OvenTypeId" class="form-control" aria-required="true">

                @foreach (var type in Model.OvenTypes)
                    {
                    <option value="@type.Id">@type.Name</option>
                    }
            </select>
            <hr />
            <label asp-for="Origen"></label>
            <input asp-for="Origen" class="form-control" placeholder="Whats the country of origin:" />
            <span asp-validation-for="@Model.Origen" class=" small text-danger"></span>
            <hr />
            <label asp-for="Portions"></label>
            <input asp-for="Portions" class="form-control" placeholder="Portions:" />
            <span asp-validation-for="@Model.Portions" class=" small text-danger"></span>
            <hr />
            <label asp-for="Preparation"></label>
            <input asp-for="Preparation" class="form-control" placeholder="How to prepare the dish:" />
            <span asp-validation-for="@Model.Preparation" class=" small text-danger"></span>
            <hr />
            <label asp-for="Temperature"></label>
            <input asp-for="Temperature" class="form-control" placeholder="Whats the temperature you have to cook it in:" />
            <span asp-validation-for="@Model.Temperature" class=" small text-danger"></span>


        </div>
        <input id="submitBtn" class=" btn btn-primary mt-3" type="submit" value="Create" />
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        let ingredients = [];
        let num = 1;
        $(document).ready(function () {
            $("#addElementBtn").click(function () {
                // make the last add Button invisible

                // Create a new element
                let newElement = `
                            <li id="ingredient-${num}">
                              <input id="nameIngredient-${num}" class="form-control nameIngredient" placeholder="Ingredient:" />
                              <input id="amountIngredient-${num}" class="form-control amountIngredient" placeholder="Amount:" />
                              <input id="amountTypeIngredient-${num}" class="form-control amountTypeIngredient" placeholder="T.S./G/Cups" />
                                      <select asp-for="@Model.OvenTypeId" class="form-control" aria-required="true">

        @foreach (var type in Model.OvenTypes)
            {
                                <option value="@type.Id">@type.Name</option>
            }
                    </select>
                              <span class="small text-danger"></span>
                              <hr />
                            </li>
                            `;

                num++;
                // Append the new element to the container
                $("#ingredientList").append(newElement);
            });

            //removes the input field for the last ingredient
            $("#removeElementBtn").click(function () {
                if (num > 1) {
                    num--;
                    $(`#ingredient-${num}`).remove();
                }
            })

            //sends the ingredients as json
            $("#submitBtn").click(function () {
                let allIngredient = []
                
                let names = [];
                $(".nameIngredient").each(function () {
                    names.push($(this).val());

                });

                let amounts = [];
                $(".amountIngredient").each(function () {
                    amounts.push($(this).val());

                });

                let types = [];
                $(".amountTypeIngredient").each(function () {
                    types.push($(this).val());
                });

                for (let i = 0; i < num; i++) {
                    let currIngredient = {
                        Name: names[i],
                        Amount: amounts[i],
                        AmountType: types[i],
                    }

                    allIngredient.push(currIngredient);
                }

                console.log(allIngredient);

            });
        })
    </script>
}


