@model AllRecepieViewModel

<div class="card col-4" style="width: 15rem;">
    @if (Model.Private)
        {
        <p class="fw-bolder rounded border border-danger" style="background-color:#EED202">Private</p>
        }
    <div class="card-body">
        <h5 class="card-title mt-1">@Model.Name</h5>
        <img class="card-img-top" src=@Model.Image alt="Ad Image">
        <p class="mb-0"><span class="fw-bold">Added on: </span>@Model.DatePosted.ToString("dd/MM/yyyy")</p>
        <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
        <p class="mb-0"><span class="fw-bold">Likes: </span>@Model.TumbsUp</p>
        <p class="mb-0"><span class="fw-bold">Publisher: </span>@Model.Owner</p>
    </div>

    <a asp-controller="Drink" asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">
        <img src="~/img/icons/book-open-solid.svg" style="max-block-size:1rem; margin-right:1rem;" />
        Details
    </a>
    @if (User.Identity.IsAuthenticated)
    {
    @if (User.Identity.Name == Model.Owner)
        {
        <a asp-controller="Drink" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-2 w-100 p-3 fw-bold">
            <img src="~/img/icons/pen-to-square-solid.svg" style="max-block-size:1rem; margin-right:1rem;" />
            Edit
        </a>
        }
    else
        {
        @if (Model.Favourite)
            {
            <a asp-controller="Favourite" asp-action="FavouriteDrink" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">
                <img src="~/img/icons/star-solid.svg" style="max-block-size:1rem; margin-right:1rem;" />
                Unfavourite
            </a>
            }
        else
            {
            <a asp-controller="Favourite" asp-action="FavouriteDrink" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">
                <img src="~/img/icons/star-regular.svg" style="max-block-size:1rem; margin-right:1rem;" />
                Favourite
            </a>
            }

        if (Model.Like)
            {
            <a asp-controller="Rating" asp-action="DrinkLike" asp-route-id="@Model.Id" class="btn btn-primary mb-2 w-100 p-3 fw-bold">
                <img src="~/img/icons/thumbs-up-solid.svg" style="max-block-size:1rem; margin-right:1rem;" />
                Unlike
            </a>
            }
        else
            {
            ViewBag.Like = "Like";
            <a asp-controller="Rating" asp-action="DrinkLike" asp-route-id="@Model.Id" class="btn btn-primary mb-2 w-100 p-3 fw-bold">
                <img src="~/img/icons/thumbs-up-regular.svg" style="max-block-size:1rem; margin-right:1rem;" />
                Like
            </a>
            }
        }

    }
</div>