@model AllRecepieViewModel

<div class="card col-4" style="width: 15rem;">
    @if (Model.Private)
        {
        <p class="fw-bolder rounded border border-danger" style="background-color:#EED202">Private</p>
        }
    <div class="card-body">
        <h5 class="card-title mt-1">@Model.Name</h5>
        <img class="card-img-top" src=@Model.Image alt="Ad Image">
        <p class="mb-0"><span class="fw-bold">Added on: </span>@Model.DatePosted.ToString("dd/MM/yyyy")</p>
        <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
        <p class="mb-0"><span class="fw-bold">Likes: </span>@Model.TumbsUp</p>
        <p class="mb-0"><span class="fw-bold">Publisher: </span>@Model.Owner</p>
    </div>

    @if (User.Identity.Name == Model.Owner)
        {
        <a asp-controller="Food" asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">Details</a>
        <a asp-controller="Food" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-2 w-100 p-3 fw-bold">Edit</a>
        }
    else
        {
        <a asp-controller="Food" asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">Details</a>
        @if (Model.Favourite)
            {
            ViewBag.Favourite = "Unfavourite";
            }
        else
            {
            ViewBag.Favourite = "Favourite";
            }
        <a asp-controller="Favourite" asp-action="FavouriteFood" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">@ViewBag.Favourite</a>
        if (Model.Like)
            {
            ViewBag.Like = "Unlike";
            }
        else
            {
            ViewBag.Like = "Like";
            }
        <a asp-controller="Rating" asp-action="FoodLike" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">@ViewBag.Like</a>

        }
</div>